* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
}

header {
    border-right: 2px orange solid;
    border-left: 2px orange solid;
    margin: 0 auto;
    width: 300px;
}

h1 {
    color: darkorange;
    text-align: center;
    margin-bottom: 15px;
    text-decoration:  underline orange;
    text-decoration-style: wavy ;
}


article {
    color:black;
    width: 30%;
    margin: 3% 0 0 2%;
    background-color:orange;
    border: 3px solid black;
    float: left;
}
p.content {
    padding: 10px;
    clear: both;
}

.title {
    background-color: rgb(248, 176, 164);
    text-align: center;
    width:120px;
    float: right;
    margin-bottom: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    padding: 4px;
    color: rgb(109, 58, 0);
}

.t2 {
    color:darkred;
    background-color:lightcoral;
}

.t3 {
    background-color: yellow;
}
/* Simple Responsive Framework! */
.row {
    width: 100%;
}

/** Dekstop version **/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 30.33%;
  }
  .col-lg-2 {
    width: 66.66%;
  }
  .col-lg-3 {
    width: 100%;
  }

}

/** For Tablet **/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 47.33%;
  }
  .col-md-2 {
    width: 96.7%;
  }
  .col-md-3 {
    width: 100%;
  }

}


/** For Mobiles **/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 33.33%;
  }
  .col-sm-2 {
    width: 66.66%;
  }
  .col-sm-3 {
    width: 96%;
  }

}